$background-color: #0d1117;
$primary-color: #ff7f02;
$light-primary-color: #453323;
$secondary-color: #1e1e1e;
// $secondary-color: #dce1ea;

$primary-font: 'Poiret One';
$secondary-font: 'Sacramento', cursive;